@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["MenuName"] = "B5";
    ViewData["MenuListB"] = "show";
    ViewData["MenuB5"] = "active";
}
<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
            <h4 class="card-title">B0 ลงทะเบียนสาขา</h4>
        </div>
    </div>
    <div class="card-body ">
        <form method="get" action="/" class="form-horizontal">
            <div class="row">
                <label class="col-sm-2 col-form-label label-checkbox">Custom Checkboxes &amp; radios</label>
                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked=""> Checked
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Unchecked
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" disabled="" checked=""> Disabled Checked
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" disabled=""> Disabled Unchecked
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-5 checkbox-radios">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked=""> Radio is on
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" value="option2"> Radio is off
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios2" value="option1" checked="" disabled=""> Disabled Radio is on
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios2" value="option2" disabled=""> Disabled Radio is off
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Input with success</label>
                <div class="col-sm-10">
                    <div class="form-group has-success bmd-form-group">
                        <label for="exampleInput2" class="bmd-label-floating">Success input</label>
                        <input type="text" class="form-control" id="exampleInput2">
                        <span class="form-control-feedback">
                            <i class="material-icons">done</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Input with error</label>
                <div class="col-sm-10">
                    <div class="form-group has-danger bmd-form-group">
                        <label for="exampleInput3" class="bmd-label-floating">Error input</label>
                        <input type="email" class="form-control" id="exampleInput3">
                        <span class="form-control-feedback">
                            <i class="material-icons">clear</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Column sizing</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder=".col-md-3">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder=".col-md-4">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder=".col-md-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form enctype="multipart/form-data"  asp-controller="Branch" asp-action="PostSingleFile" method="post">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h4 class="title">Regular Image</h4>
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="/assets/imgs/monk-icon.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                            <span class="btn btn-rose btn-round btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input id="FileUploadFormFile" type="file" name="FileUploadFormFile" />
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-rose">Upload รูป</button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>