@using WNPP_WEB.Models.ViewModels;
@model PhanSaViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-body ">
        <a class="btn btn-primary" asp-area="" asp-controller="Monk" asp-action="BuddhistLent">
            <i class="material-icons">calendar_month</i>
            <span class="sidebar-normal">ตารางข้อมูลพรรษา </span>
        </a>
        <a class="btn btn-primary" asp-area="" asp-controller="Monk" asp-action="Add2BuddhistLent">
            <i class="material-icons">post_add</i>
            <span class="sidebar-normal">เพิ่มข้อมูลพรรษา </span>
        </a>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
            <h4 class="card-title">เพิ่มข้อมูลพรรษา</h4>
        </div>
    </div>
    <div class="card-body ">
        <form asp-area="" asp-controller="Monk" asp-action="Add2BuddhistLent"
              method="post" class="form-horizontal"
              id="Add2BuddhistLent" name="Add2BuddhistLent">
            <div class="row">
                <input type="hidden" class="form-control" 
                       id="BuddhistLentYear"
                       name="BuddhistLentYear"
                       value="">
                <label class="col-sm-2 col-form-label">วันเข้าพรรษา / วันออกพรรษา</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control datepicker" 
                                    id="BuddhistLentStartDate" 
                                    name="BuddhistLentStartDate" value="">
                                <span class="bmd-help">วัน เข้า พรรษา</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control datepicker"
                                       id="BuddhistLentEndDate" 
                                       name="BuddhistLentEndDate" value="">
                                <span class="bmd-help">วัน ออก พรรษา</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="รายละเอียดวัดเข้าพรรษา"
                                       id="BuddhistLentInFo"
                                       name="BuddhistLentInFo"
                                       value="">
                                <span class="bmd-help">ตย. วันจันทร์ที่ 6 กรกฎาคม พ.ศ.2563 แรม ๑ ค่ำ เดือนแปด(๘) ปีชวด </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a id="backLink" name="backLink" class="btn btn-danger" href="#">
                                <i class="material-icons">logout</i>
                                <span class="sidebar-normal"> ย้อนกลับ </span>
                            </a>
                            <a id="btAdd2BuddhistLentSave" name="btAdd2BuddhistLentSave" 
                                class="btn btn-success" href="#">
                                <i class="material-icons">save_as</i>
                                <span class="sidebar-normal"> บันทึก </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
