@using WNPP_WEB.Models.ViewModels
@using System.Globalization
@using System.Threading

@model TMonkViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Thread.CurrentThread.CurrentCulture = new CultureInfo("th-TH");
    // var DateOfBirth = (DateTime)Model.MDateOfBirth;
    // var DateOfOrdination = (DateTime)Model.DateOfOrdination;
    // String type1 = "", type2 = "", type3 = "", type4 = "", type5 = "";
}
@* @switch (Model.MonkType)
{
    case 1:
        type1 = "checked";
        break;
    case 2:
        type2 = "checked";
        break;
    case 3:
        type3 = "checked";
        break;
    case 4:
        type4 = "checked";
        break;
    case 5:
        type5 = "checked";
        break;
} *@

<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
            <h4 class="card-title">เพิ่ม ภิกษุ-สามเณร-แม่ขี-อุบาสก-อุบาสิกา</h4>
        </div>
    </div>
    <div class="card-body">
        <form asp-controller="Monk" asp-action="Add2Monk"
              method="post" class="form-horizontal"
              id="Add2MonkForm" name="Add2MonkForm">

            <div class="row">
                <label class="col-sm-2 col-form-label label-checkbox">ประเภทพุทธบริษัท</label>
                <div class="col-sm-10 checkbox-radios">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="MonkType" value="1" checked> ภิกษุ
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="MonkType" value="2" > สามเณร
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="MonkType" value="3" > แม่ชี
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="MonkType" value="4" > อุบาสก
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="MonkType" value="5" > อุบาสิกา
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">ชื่อ ฉายา</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="" name="MonkName"
                                       value="">
                                <span class="bmd-help">ชื่อ และ ฉายา</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="ชื่อเดิม" name="MFirstName"
                                       value="">
                                <span class="bmd-help">ชื่อ ก่อนบวช </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="นามสกุลเดิม" name="MSurName"
                                       value="">
                                <span class="bmd-help">นามสกุล ก่อนบวช </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="ชื่อเล่น" name="MNickName"
                                       value="">
                                <span class="bmd-help">ชื่อเล่น ชื่อเรียก</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">เกิดเมื่อวันที่</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control"
                                       data-provide="datepicker" data-date-language="th-th"
                                       id="txtDateOfBirth" name="txtDateOfBirth"
                                       value="">
                                <span class="bmd-help">ข้อมูลวันที่ เดือน / วัน / ปี ค.ศ. </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เลขประจำตัวประชาชน" name="MPid"
                                       value="">
                                <span class="bmd-help">เลขประจำตัวประชาชน ... </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เชื้อชาติ" name="MEthnicity"
                                       value="">
                                <span class="bmd-help">เชื้อชาติ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="สัญชาติ" name="MNationality"
                                       value="">
                                <span class="bmd-help">สัญชาติ ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">ที่อยู่เดิม</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="บ้านเลขที่" name="MHouseNo"
                                       value="">
                                <span class="bmd-help">บ้านเลขที่ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="หมู่ที่" name="MMoo"
                                       value="">
                                <span class="bmd-help">หมู่ที่ ... </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="หมู่บ้าน(บ้าน)" name="MVillage"
                                       value="">
                                <span class="bmd-help">หมู่บ้าน (บ้าน) ...</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="ถนน" name="MRoad"
                                       value="">
                                <span class="bmd-help">ถนน ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="แขวง / ตำบล" name="MSubDistrict"
                                       value="">
                                <span class="bmd-help">แขวง / ตำบล ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เขต / อำเภอ" name="MDistrict"
                                       value="">
                                <span class="bmd-help">เขต / อำเภอ ... </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="จังหวัด" name="MProvince"
                                       value="">
                                <span class="bmd-help">จังหวัด ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="รหัสไปรษณีย์" name="MPostCode"
                                       value="">
                                <span class="bmd-help">รหัสไปรษณีย์ ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="ประเทศ" name="MCountry"
                                       value="">
                                <span class="bmd-help">ประเทศ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เบอร์โทรศัพท์" name="MPhoneNo"
                                       value="">
                                <span class="bmd-help">เบอร์โทรศัพท์ </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เบอร์ไลน์ไอดี" name="MLineId"
                                       value="">
                                <span class="bmd-help">เบอร์ไลน์ไอดี </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="อีเมล์" name="MEmail"
                                       value="">
                                <span class="bmd-help">อีเมล์ </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">ใบสุทธิ</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เลขใบสุทธิ" name="CertificateForMonksNo"
                                       value="">
                                <span class="bmd-help">เลขใบสุทธิ ... </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="สังกัดวัด" name="ParticipateTemple"
                                       value="">
                                <span class="bmd-help">สังกัดวัด ... </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="แขวง / ตำบล" name="PtSubDistrict"
                                       value="">
                                <span class="bmd-help">แขวง / ตำบล ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เขต / อำเภอ" name="PtDistrict"
                                       value="">
                                <span class="bmd-help">เขต / อำเภอ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="จังหวัด" name="PtProvince"
                                       value="">
                                <span class="bmd-help">จังหวัด ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">บวช วันที่</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control"
                                       data-provide="datepicker" data-date-language="th-th"
                                       id="txtDateOfOrdination" name="txtDateOfOrdination"
                                       value="">
                                <span class="bmd-help">ข้อมูลวันที่ เดือน / วัน / ปี ค.ศ. </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="บวชที่วัด" name="TempleName"
                                       value="">
                                <span class="bmd-help">บวชที่วัด ... </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="แขวง / ตำบล" name="TSubDistrict"
                                       value="">
                                <span class="bmd-help">แขวง / ตำบล ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เขต / อำเภอ" name="TDistrict"
                                       value="">
                                <span class="bmd-help">เขต / อำเภอ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="จังหวัด" name="TProvince"
                                       value="">
                                <span class="bmd-help">จังหวัด ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label">พระอุปัชฌาย์</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="พระอุปัชฌาย์" name="Preceptor"
                                       value="">
                                <span class="bmd-help">พระอุปัชฌาย์ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="สังกัดวัด" name="PTemple"
                                       value="">
                                <span class="bmd-help">สังกัดวัด ... </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="แขวง / ตำบล" name="PSubDistrict"
                                       value="">
                                <span class="bmd-help">แขวง / ตำบล ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เขต / อำเภอ" name="PDistrict"
                                       value="">
                                <span class="bmd-help">เขต / อำเภอ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="จังหวัด" name="PProvince"
                                       value="">
                                <span class="bmd-help">จังหวัด ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">พระกรรมวาจาจารย์</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="พระกรรมวาจาจารย์" name="FirstOrdinationTeacher"
                                       value="">
                                <span class="bmd-help">พระกรรมวาจาจารย์ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="สังกัดวัด" name="FTemple"
                                       value="">
                                <span class="bmd-help">สังกัดวัด ... </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="แขวง / ตำบล" name="FSubDistrict"
                                       value="">
                                <span class="bmd-help">แขวง / ตำบล ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เขต / อำเภอ" name="FDistrict"
                                       value="">
                                <span class="bmd-help">เขต / อำเภอ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="จังหวัด" name="FProvince"
                                       value="">
                                <span class="bmd-help">จังหวัด ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">พระอนุสาวนาจารย์</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="พระอนุสาวนาจารย์" name="SecondOrdinationTeacher"
                                       value="">
                                <span class="bmd-help">พระอนุสาวนาจารย์ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="สังกัดวัด" name="STemple"
                                       value="">
                                <span class="bmd-help">สังกัดวัด ... </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="แขวง / ตำบล" name="SSubDistrict"
                                       value="">
                                <span class="bmd-help">แขวง / ตำบล ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="เขต / อำเภอ" name="SDistrict"
                                       value="">
                                <span class="bmd-help">เขต / อำเภอ ...</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group bmd-form-group">
                                <input type="text" class="form-control" placeholder="จังหวัด" name="SProvince"
                                       value="">
                                <span class="bmd-help">จังหวัด ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a id="backLink" name="backLink" class="btn btn-danger" href="#">
                                <i class="material-icons">logout</i>
                                <span class="sidebar-normal"> ย้อนกลับ </span>
                            </a>
                            <a id="btAdd2MonkSave" name="btAdd2MonkSave" class="btn btn-success" href="#">
                                <i class="material-icons">save_as</i>
                                <span class="sidebar-normal"> บันทึก </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>