@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card card-timeline card-plain">
    <div class="card-header ">
        <a class="btn btn-primary" asp-area="" asp-controller="Monk" asp-action="SearchBranch00">
            <i class="material-icons">group_add</i>
            <span class="sidebar-normal"> ข้อมูลเข้าพรรษา </span>
        </a>
    </div>
    <div class="card-body">
        <ul class="timeline">
            <li class="timeline-inverted">
                <div class="timeline-badge danger">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <a class="btn btn-primary" asp-area="" asp-controller="Monk" asp-action="SearchBranch00">
                            <i class="material-icons">search</i>
                            <span class="sidebar-normal"> ปี 2567 </span>
                        </a>                    </div>
                    <div class="timeline-body">
                        <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing  Figueroa and 12th in downtown.</p>
                    </div>
                    <h6>
                        <i class="ti-time"></i> 11 hours ago via Twitter
                    </h6>
                </div>
            </li>
            <li>
                <div class="timeline-badge success">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <a class="btn btn-success" asp-area="" asp-controller="Monk" asp-action="SearchBranch00">
                            <i class="material-icons">search</i>
                            <span class="sidebar-normal"> ปี 2566 </span>
                        </a>
                    </div>
                    <div class="timeline-body">
                        <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <a class="btn btn-success" asp-area="" asp-controller="Monk" asp-action="SearchBranch00">
                            <i class="material-icons">search</i>
                            <span class="sidebar-normal"> ปี 2565 </span>
                        </a>
                    </div>
                    <div class="timeline-body">
                        <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing  Figueroa and 12th in downtown.</p>
                    </div>
                    <h6>
                        <i class="ti-time"></i> 11 hours ago via Twitter
                    </h6>
                </div>
            </li>
            <li>
                <div class="timeline-badge success">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <a class="btn btn-success" asp-area="" asp-controller="Monk" asp-action="SearchBranch00">
                            <i class="material-icons">search</i>
                            <span class="sidebar-normal"> ปี 2563 </span>
                        </a>
                    </div>
                    <div class="timeline-body">
                        <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
