@using WNPP_WEB.Models
@model List<TAbbotImg>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["MenuName"] = "M0";
    ViewData["MenuListM"] = "show";
    ViewData["MenuM0"] = "active";

    //var data = ViewBag.Message;
}
<div class="card ">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>NAME</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img class="img" src="/File/GetAbbotImage?id=@item.Id" />
                            </td>
                            <td>@item.Id</td>
                            <td>@item.ImgNotation</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>